@use '../../../../../scss/variables';

.main{
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url("../../../../../assets/images/background.png");
}

.main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 2rem;
    margin-right: 3rem;
}


.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 2.5rem;
    background-color: white;

    h1 {
        font-weight: 900;
        font-size: 2.5rem;
        color: variables.$gray-600;
        padding-top: 0.6rem;
    }

    .buttonExit {
        width: 30%;
        border-color: variables.$gray-300;
    }

    .buttonCancel {
        width: 30%;
        margin-left: 22px;
    }
    
    .paddTop {
        padding-top: 4rem;
    }
}

.card {
    display: flex;
    width: 50%;
    max-width: 500px;
    height: 300px;
    margin: 250px auto 0;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 800;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 40px rgba(172, 176, 202, 0.6);
    justify-content: space-between;
    overflow: hidden;
}