@use '../../../../../scss/variables';

.dashboard-loader{
    position: absolute;
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: calc(100%);
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url("../../../../../assets/images/background.png");
}

.main-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 2rem;
    margin-right: 3rem;
}

.upper-container{
    display: flex;
    margin-top: 3rem;
    justify-content: space-between;
    gap: 1rem;
    flex: 55%;

}
.investimento-content{
    background-color: variables.$white;
    flex: 45%;
    border: 0.92px solid variables.$gray-300;
    box-shadow: 0 px 4.61807px 18.4723px rgba(0,0,0,0.05);
    border-radius: 4px;
}
.header-investimentos{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title-investimentos{
    line-height: 21px;
    font-size: 16px;
    color: variables.$gray-600;
}


.year-investimentos span{
    margin-right: 0.6rem;
    font-size: 12px;
    line-height: 15px;
    font-weight: 700px;
}


.acoes-content{
    border: 0.92px solid variables.$gray-300;
    flex: 45%;
}

.inner-stocks{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;


}

.stocks-chart{
    display: flex;
    height: 30px;
    background-color: variables.$white;
    box-shadow: 0px 0px 10px rgba(192, 197, 233, 0.6);
    border-radius: 4px;

}

.stock-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem;
}


.stock-button{
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px 0px 0px 4px;
    width: 52px;
}

.stock-title{
    width: 65px;
}

.fiis-button{
    background-color: #2F80ED;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px 0px 0px 4px;
    width: 52px;

}

.tesouro-button{
    background-color: #F2C94C;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px 0px 0px 4px;
    width: 52px;

}

.fiagro-button{
    background-color: #3AB67D;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px 0px 0px 4px;
    width: 52px;
}



.lower-container{
    display: flex;
    margin-bottom: 3rem;
    justify-content: space-between;
    gap: 1rem;
    flex: 45%;
}

.header-pagamentos{
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

hr{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    border: 0.73889px solid variables.$gray-300;
}

.title-pagamentos{
    line-height: 21px;
    font-size: 16px;
    color: variables.$gray-600;
}

.month-pagamentos span{
    margin-right: 0.6rem;
    font-size: 12px;
    line-height: 15px;
    font-weight: 700px;
    color: variables.$gray-600;

}



.pagamentos-content{
    background-color: variables.$white;
    flex: 45%;
    border: 0.92px solid variables.$gray-300;
    box-shadow: 0 px 4.61807px 18.4723px rgba(0,0,0,0.05);
    border-radius: 4px;
}

.historico-content{
    flex: 45%;
    border: 0.92px solid variables.$gray-300;
    box-shadow: 0 px 4.61807px 18.4723px rgba(0,0,0,0.05);
    background-color: variables.$white;;
    border-radius: 4px;
}


.title-historico ,.title-acoes{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    line-height: 21px;
    font-size: 16px;
    color: variables.$gray-600;
}
