<div class="dashboard-loader" *ngIf="!user">
  <app-loader></app-loader>
</div>

<div class="main" *ngIf="user">
  <app-dashboard></app-dashboard>
  <div class="main-container">
    <div class="upper-container">
      <div class="investimento-content">
        <div class="header-investimentos">
          <div class="title-investimentos">
            <span>INVESTIMENTOS</span>
          </div>
          <div class="year">
            <span>2023</span>
          </div>
        </div>
        <div class="chart-investimento">
          <app-line-chart [allInvestments]="this.user.investments"></app-line-chart>
        </div>
      </div>

      <div class="detailing-investments-content">
        <div class="header-detailing-investments">
          <div class="title-detailing-investments">
            <span>INVESTIMENTOS - DETALHAMENTO</span>
          </div>
          <div class="year">
            <span>2023</span>
          </div>
        </div>
        <div class="inner-stocks">

          <app-investment-panel *ngIf="user" [allInvestments]="this.user.investments"
            [investmentList]="this.user.investments.stocks" [investmentType]="'Ações'"
            [className]="'stock'"></app-investment-panel>

          <app-investment-panel *ngIf="user" [allInvestments]="this.user.investments"
            [investmentList]="this.user.investments.fiis" [investmentType]="'Fiis'"
            [className]="'fiis'"></app-investment-panel>

          <app-investment-panel *ngIf="user" [allInvestments]="this.user.investments"
            [investmentList]="this.user.investments.treasure" [investmentType]="'Tesouro'"
            [className]="'treasure'"></app-investment-panel>

          <app-investment-panel *ngIf="user" [allInvestments]="this.user.investments"
            [investmentList]="this.user.investments.fiagro" [investmentType]="'Fiagro'"
            [className]="'fiagro'"></app-investment-panel>

        </div>
      </div>
    </div>
    <div class="lower-container">
      <div class="payments-content">
        <div class="header-payments">
          <div class="title-payments">
            <span>PAGAMENTOS</span>
          </div>
          <div class="year">
            <span>2023</span>
          </div>
        </div>
        <hr>
        <div class="payments-chart">
          <app-chart></app-chart>
        </div>
      </div>
      <div class="historico-content">
        <div class="header-payments">
          <div class="title-payments">
            <span>ÚLTIMOS PAGAMENTOS</span>
          </div>
          <div class="year">
            <span>2023</span>
          </div>
        </div>
        <hr>
        <app-table-history></app-table-history>
      </div>
    </div>
  </div>
</div>