<div class="dashboard-loader" *ngIf="!user">
  <app-loader></app-loader>
</div>

<div class="main" *ngIf="user">
  <app-dashboard></app-dashboard>
  <div class="main-container">
    <div class="upper-container">
      <div class="investimento-content">
        <div class="header-investimentos">
          <div class="title-investimentos">
            <span>INVESTIMENTOS</span>
          </div>
          <div class="year-investimentos">
            <span>2022</span>
            <img src="./../../../../../assets/icons/drop-down-arrow.png">
          </div>
        </div>
        <div class="chart-investimento">
          <app-line-chart></app-line-chart>
        </div>
      </div>

      <div class="detailing-investments-content">
        <div class="header-detailing-investments">
          <div class="title-detailing-investments">
            <span>INVESTIMENTOS - DETALHAMENTO</span>
          </div>
          <div class="year-detailing-investments">
            <span>2022</span>
            <img src="./../../../../../assets/icons/drop-down-arrow.png">
          </div>
        </div>
        <div class="inner-stocks">
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="stock-button">
                  <img src="../../../../../assets/icons/plus-icon.svg" alt="Ícone do símbolo mais">
                </div>
                <div class="stock-title">
                  AÇÕES
                </div>
              </mat-panel-title>
              <mat-panel-description>
                <div class="stock-progress-bar progress-bar">
                  <h2>42,90%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
                <div class="chart-detailing-investments-value">
                  R$ 13.123,12
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="chart-detailing-investments-group">
              <div class="chart-detailing-investments-group-content">
                <h3>TAEE11</h3>
                <div class="stock-progress-bar progress-bar">
                  <h2>42,90%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
                <div class="chart-detailing-investments-value">
                  R$ 13.123,12
                </div>
              </div>

              <div class="chart-detailing-investments-group-content">
                <h3>BBDC3</h3>
                <div class="stock-progress-bar progress-bar">
                  <h2>25%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
                <div class="chart-detailing-investments-value">
                  R$ 3.123,12
                </div>
              </div>

              <div class="chart-detailing-investments-group-content">
                <h3>CPLE6</h3>
                <div class="stock-progress-bar progress-bar">
                  <h2>25%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
                <div class="chart-detailing-investments-value">
                  R$ 3.123,12
                </div>
              </div>

              <div class="chart-detailing-investments-group-content">
                <h3>RANI3</h3>
                <div class="stock-progress-bar progress-bar">
                  <h2>25%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
                <div class="chart-detailing-investments-value">
                  R$ 3.123,12
                </div>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="fiis-button">
                  <img src="../../../../../assets/icons/plus-icon.svg" alt="Ícone do símbolo mais">
                </div>
                <div class="stock-title">
                  FIIS
                </div>
              </mat-panel-title>
              <mat-panel-description>
                <div class="fiis-progress-bar progress-bar">
                  <h2>22,90%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
                <div class="chart-detailing-investments-value">
                  R$ 13.123,12
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="chart-detailing-investments-group">
              <div class="chart-detailing-investments-group-content">
                <h3>TAEE11</h3>
                <div class="fiis-progress-bar progress-bar">
                  <h2>42,90%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
                <div class="chart-detailing-investments-value">
                  R$ 13.123,12
                </div>
              </div>

              <div class="chart-detailing-investments-group-content">
                <h3>BBDC3</h3>
                <div class="fiis-progress-bar progress-bar">
                  <h2>25%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
                <div class="chart-detailing-investments-value">
                  R$ 3.123,12
                </div>
              </div>

              <div class="chart-detailing-investments-group-content">
                <h3>CPLE6</h3>
                <div class="fiis-progress-bar progress-bar">
                  <h2>25%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
                <div class="chart-detailing-investments-value">
                  R$ 3.123,12
                </div>
              </div>

              <div class="chart-detailing-investments-group-content">
                <h3>RANI3</h3>
                <div class="fiis-progress-bar progress-bar">
                  <h2>25%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
                <div class="chart-detailing-investments-value">
                  R$ 3.123,12
                </div>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="tesouro-button">
                  <img src="../../../../../assets/icons/plus-icon.svg" alt="Ícone do símbolo mais">
                </div>
                <div class="stock-title">
                  TESOURO
                </div>
              </mat-panel-title>
              <mat-panel-description>
                <div class="treasure-progress-bar progress-bar">
                  <h2>22,90%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
                <div class="chart-detailing-investments-value">
                  R$ 13.123,12
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="chart-detailing-investments-group">
              <div class="chart-detailing-investments-group-content">
                <h3>TAEE11</h3>
                <div class="treasure-progress-bar progress-bar">
                  <h2>42,90%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
                <div class="chart-detailing-investments-value">
                  R$ 13.123,12
                </div>
              </div>

              <div class="chart-detailing-investments-group-content">
                <h3>BBDC3</h3>
                <div class="treasure-progress-bar progress-bar">
                  <h2>25%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
                <div class="chart-detailing-investments-value">
                  R$ 3.123,12
                </div>
              </div>

              <div class="chart-detailing-investments-group-content">
                <h3>CPLE6</h3>
                <div class="treasure-progress-bar progress-bar">
                  <h2>25%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
                <div class="chart-detailing-investments-value">
                  R$ 3.123,12
                </div>
              </div>

              <div class="chart-detailing-investments-group-content">
                <h3>RANI3</h3>
                <div class="treasure-progress-bar progress-bar">
                  <h2>25%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
                <div class="chart-detailing-investments-value">
                  R$ 3.123,12
                </div>
              </div>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="fiagro-button">
                  <img src="../../../../../assets/icons/plus-icon.svg" alt="Ícone do símbolo mais">
                </div>
                <div class="stock-title">
                  FIAGRO
                </div>
              </mat-panel-title>
              <mat-panel-description>
                <div class="fiagro-progress-bar progress-bar">
                  <h2>22,90%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
                <div class="chart-detailing-investments-value">
                  R$ 13.123,12
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="chart-detailing-investments-group">
              <div class="chart-detailing-investments-group-content">
                <h3>TAEE11</h3>
                <div class="fiagro-progress-bar progress-bar">
                  <h2>42,90%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
                <div class="chart-detailing-investments-value">
                  R$ 13.123,12
                </div>
              </div>

              <div class="chart-detailing-investments-group-content">
                <h3>BBDC3</h3>
                <div class="fiagro-progress-bar progress-bar">
                  <h2>25%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
                <div class="chart-detailing-investments-value">
                  R$ 3.123,12
                </div>
              </div>

              <div class="chart-detailing-investments-group-content">
                <h3>CPLE6</h3>
                <div class="fiagro-progress-bar progress-bar">
                  <h2>25%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
                <div class="chart-detailing-investments-value">
                  R$ 3.123,12
                </div>
              </div>

              <div class="chart-detailing-investments-group-content">
                <h3>RANI3</h3>
                <div class="fiagro-progress-bar progress-bar">
                  <h2>25%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
                <div class="chart-detailing-investments-value">
                  R$ 3.123,12
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </div>
      </div>
    </div>
    <div class="lower-container">
      <div class="payments-content">
        <div class="header-payments">
          <div class="title-payments">
            <span>PAGAMENTOS</span>
          </div>
          <div class="month-payments">
            <span>2022</span>
          </div>
        </div>
        <hr>
        <div class="payments-chart">
          <app-chart></app-chart>
        </div>
      </div>
      <div class="historico-content">
        <div class="title-historico">
          <span>ULTIMOS PAGAMENTOS</span>
        </div>
        <hr>
        <div class="table-historico">
          <app-table-history></app-table-history>
        </div>
      </div>
    </div>
  </div>
</div>