@use '../../../../../scss/variables';

.dashboard-loader {
  position: absolute;
  background-color: rgba(0, 0, 0, .8);
  width: 100%;
  height: calc(100%);
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  width: 100%;
  min-height: 100%;
  background-image: url("../../../../../assets/images/background.png");
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  gap: 2rem;
  padding: 4rem;
}

.upper-container {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  gap: 1rem;
  
}

.lower-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex: 40%;
  min-height: 400px;
}

.investimento-content, .detailing-investments-content {
  background-color: variables.$white;
  flex: 45%;
  padding: 1rem;
  border: 1px solid variables.$gray-300;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
  border-radius: 4px;
}

.header-investimentos, .header-detailing-investments {
  padding: .5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-investimentos, .title-detailing-investments {
  line-height: 21px;
  font-size: 16px;
  color: variables.$gray-600;
}

.chart-investimento{
  width: 100%;
  height: 90%;
}

.year span {
  margin-right: 0.6rem;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: variables.$gray-600;
}

.chart-detailing-investments-value{
  font-weight: 500;
  font-size: .85rem;
}

.inner-stocks {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mat-expansion-panel-header{
  padding: 0;
  height: 40px;
}

.chart-detailing-investments-group{
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;

  .chart-detailing-investments-group-content {
    width: 90%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: variables.$gray-600;
  }
}

.mat-expansion-panel-header-description{
  justify-content: space-between;
}

.stocks-chart {
  display: flex;
  align-items: center;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
  border-radius: 4px;
  height: 42px;
}

.stock-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  color: variables.$gray-600;
  font-size: 1rem;
  font-weight: 700;
}

.stock-button, .fiis-button, .tesouro-button, .fiagro-button{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px 0px 0px 4px;
  margin-right: 1rem;
  height: 40px;
  max-width: 60px;
  width: 100%;
  cursor: pointer;
}

.stock-title {
  max-width: 90px;
  width: 100%;
  color: variables.$gray-600;
  font-weight: 500;
  font-size: 1rem;
}

.progress-bar{
  flex: 1;
  
  max-width: 300px;

  h2 {
    text-align: start;
    margin-left: .5rem;
    font-weight: bold;
    font-size: 1.125rem;
  }

  .progress-bar-content {
      margin-top: .125rem;
      width: 100%;
      height: 6px;
      background-color: variables.$gray-300;
      border-radius: 6px;
      overflow: hidden;
    
      div{
        height: 6px;
      }
  }  
}

.stock-progress-bar{

  h2 {
    color: variables.$red-600;
  }

  div{
    width: 42.9%;
    background-color: variables.$red-600;
  }
}

.fiis-progress-bar{

  h2 {
    color: variables.$blue-600;
  }

  div{
    width: 22.9%;
    background-color: variables.$blue-600;
  }
}

.treasure-progress-bar{

  h2 {
    color: variables.$yellow-600;
  }

  div{
    width: 18.9%;
    background-color: variables.$yellow-600;
  }
}

.fiagro-progress-bar{

  h2 {
    color: variables.$green-600;
  }

  div{
    width: 12.13%;
    background-color: variables.$green-600;
  }
}

.stock-button {
  background-color: variables.$red-600;
}

.fiis-button {
  background-color: variables.$blue-600;
}

.tesouro-button {
  background-color: variables.$yellow-600;
}

.fiagro-button {
  background-color: variables.$green-600;
}

.header-payments {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

hr {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
  border: 0.73889px solid variables.$gray-300;
}

.title-payments {
  line-height: 21px;
  font-size: 16px;
  color: variables.$gray-600;
}



.payments-content {
  background-color: variables.$white;
  padding: 1rem;
  flex: 45%;
  border: 1px solid variables.$gray-300;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
  border-radius: 4px;
}

.historico-content {
  flex: 45%;
  border: 1px solid variables.$gray-300;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
  background-color: variables.$white;
  padding: 1rem;
  border-radius: 4px;
}


.title-historico,
.title-acoes {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  line-height: 21px;
  font-size: 16px;
  color: variables.$gray-600;
}



@media only screen and (max-width: 1024px) {

  .upper-container{
    flex-direction: column;
    display: flex;
    margin: 1.5rem;
  }

  .lower-container{
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
  }

  
.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 1rem;
  margin-right: 3rem;
}
}


@media only screen and (max-width: 450px) {
  .upper-container{
    margin-top: 3.7rem;
    margin-bottom: 0;
  }

  .main-container{
    gap: 0px;
  }

}