<app-header></app-header>

<div class="container">
  <section class="main-container">
    <section class="main-content">
      <img src="../../../assets/images/banner-service.png" alt="">

      <div class="main-content-titles">
        <h2>Só com a BradMoney você poderá: </h2>
        <div>
          <h1>Ter controle total dos seus investimentos.</h1>
          <span>Gerencie seu patrimônio, acompanhe a evolução dos seus investimentos e todos os demais ativos.</span>
        </div>
        <div class="main-content-buttons">

        </div>
      </div>
    </section>
    <section class="main-content">
      <div class="main-content-titles">
        <div>
          <h1>Controlar as suas despesas.</h1>
          <span>Tenha controle do cartão titular e dos adicionais. Receba lembretes para pagar suas faturas e contas em dia.</span>
        </div>
        <div class="main-content-buttons">

        </div>
      </div>
      <img src="../../../assets/images/banner-service-2.png" alt="">
    </section>
    <section class="main-content">
      <img src="../../../assets/images/banner-service-3.png" alt="">
      <div class="main-content-titles">
        <div>
          <h1>Gerencie seu dinheiro a qualquer hora.</h1>
          <span>Aplicativo para você gerenciar seus ativos e passivos a qualquer hora do dia, tudo na palma da sua mão.</span>
        </div>
        <div class="main-content-buttons">
            <a [routerLink]="['register']">
              <button class="button button-green">Crie a sua conta agora mesmo!</button>
            </a>
        </div>
      </div>

    </section>
  </section>
</div>
<app-footer></app-footer>