@use '../../../scss/variables';

.main-container {
  min-height: calc(100vh - 120px);
}

.main-content {
  margin-top: 2.5rem;
  display: flex;
  padding: 0 1.5rem;
}

.main-content-titles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5rem 0;

  div:first-of-type span {
    margin-top: 1.2rem;
  }
}

.main-content h2 {
  color: variables.$green-600;
  position: relative;
  font-weight: bold;
  font-size: 1.5rem;

  &::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 313px;
    background-color: variables.$gray-300;
    top: -1rem;
    border-radius: 10px;
  }
}

.main-content h1 {
  font-weight: bold;
  font-size: 2.5rem;
  color: variables.$gray-600;
}

.main-content-titles span {
  display: block;
  font-weight: 600;
  font-size: 1rem;
  color: variables.$gray-600;
  line-height: 1.5rem;
}

.main-content-buttons {
  display: flex;
  gap: 1.25rem;

  button:last-of-type {
    padding: 1rem 2rem;
  }
}

// Medias Queries

@media only screen and (max-width: 1024px) {
  .main-content {
    margin-top: 1rem;

    img {
      width: 500px;
      height: 400px;
      object-fit: contain;
    }
  }

  .main-content-titles {
    padding: 2rem 0;
  }
}

@media only screen and (max-width: 768px) {
  .main-container {
    min-height: calc(100vh - 2rem);
  }
  
  .main-content {
    margin-top: 2rem;

    img {
      display: none;
    }
  }

  .main-content-titles {
    gap: 2rem;
    padding: 2rem 0;
  }
}

@media only screen and (max-width: 425px) {
  html, body {
    font-size: 14px;
  }

  .main-content h1 {
    line-height: 3rem;
  }

  .main-content-buttons {
    button {
      font-size: .85rem;
    }
  }
}