<app-header></app-header>
<section class="backGround">
  <div class="container">
    <app-alert *ngIf="showAlert" [message]="'Senha alterada com sucesso!'" [alertTimer]="500"></app-alert>

    <div class="card">
      <div class="card-content">
  
        <div class="confirmPassword-loader" *ngIf="showLoader">
          <app-loader></app-loader>
        </div>
  
        <h1>Cadastre sua nova senha</h1>
        <p>crie uma nova senha de acesso</p>
  
        <form [formGroup]="newPasswordForm" (ngSubmit)="handleSubmit($event)">
  
          <div class="form-group">
            <div>
              <input class="input" type="password" placeholder="Senha" (focus)="handleShowTooltipPassword(true)" (focusout)="handleShowTooltipPassword(false)" formControlName="password">
              <app-tooltip class="input-password-tooltip" *ngIf="showTooltipPassword"></app-tooltip>
            </div>
            <app-input-validation class="input-validation" [type]="'input'" [message]="inputValidations.password.error" *ngIf="inputValidations.password.invalid"></app-input-validation>
          </div>
  
          <div class="form-group">
            <div>
              <input class="input" type="password" placeholder="Confirme sua senha" formControlName="confirmPassword">
            </div>
            <app-input-validation class="input-validation" [type]="'input'" [message]="inputValidations.confirmPassword.error" *ngIf="inputValidations.confirmPassword.invalid"></app-input-validation>
          </div>
  
          <div class="main-content-buttons">
            <button type="submit" class="button button-green buttonLogin">Alterar</button>
            <a [routerLink]="['/login']"><button type="button" class="button button-gray buttonCancel">Cancelar</button></a>
          </div>
  
        </form>
      </div>
    </div>
  </div>
  
</section>