@use '../../../scss/variables';

.backGround {
  height: calc(100% - 240px);

  &::before {
    content: '';
    position: absolute;
    min-height: 100%;
    width: 100%;
    top: 0;
    background-image: url("../../../assets/images/background.png");
    z-index: -1;
  }

  .card {
    display: flex;
    align-items: center;
    width: 50%;
    max-width: 600px;
    height: 460px;
    margin: 150px auto 0;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 40px rgba(172, 176, 202, 0.6);
    overflow: hidden;
    position: relative;
  
    .card-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 1.5rem;

      .confirmPassword-loader{
        position: absolute;
        background-color: rgba(0, 0, 0, .6);
        width: 100%;
        height: calc(100% + 2rem);
        top: -1rem;
        left: 0;
        border-radius: 20px 0 0 20px;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    
      h1 {
        font-weight: 900;
        font-size: 2.5rem;
        color: variables.$gray-600;
      }
    
      p {
        color: variables.$gray-300;
        margin-top: 0.8rem;
      }
    
      form {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: .8rem;
    
        .form-group {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 80%;
          
          div {
            position: relative;
            display: flex;           
            flex-direction: column;
            width: 100%;
          }

          .input {
            padding: .8rem 1rem;
            border-radius: 4px;
            border: 1px solid variables.$gray-300;
            outline-color: variables.$gray-600;
            margin-top: 18px;
            padding-left: 10px;
            color: variables.$gray-600;
    
            &:focus, &:hover{
              border-color: variables.$gray-300;
              color: variables.$gray-300;
            }
    
            &::placeholder {
              color: variables.$gray-300
            }
          }

          .input-password-tooltip {
            position: absolute;
            right: 0;
            top: 3rem;
            z-index: 1;
          }

          .input-validation{
            align-self: flex-start;
          }
        }

        .main-content-buttons {
          margin-top: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;

          .buttonLogin, .buttonCancel {
            padding: 1rem 4rem;
            text-transform: uppercase;
          }
        
          .buttonCancel {
            margin-left: 22px;
          }
        }
      }
    }
  }
}