<app-header></app-header>
<section class="backGround">
    <div class="card">
        <div class="left-content">
            <h1>Cadastre sua nova senha</h1>
            <p>crie uma nova senha de acesso</p>

            <form class="paddTop">
                <input class="inputLogin" type="text" placeholder="Senha" required>
                <input class="inputLogin" type="text" placeholder="Confirme sua senha" required>
            </form>
            <br>
            <div class="main-content-buttons paddTop">
                <button class="button button-green buttonLogin">Cadastre</button>
                <button class="button button-gray buttonCancel">Cancelar</button>
            </div>

        </div>
    </div>
</section>