<app-header></app-header>
<section class="backGround">
    <div class="card">
        <div class="left-content">
            <h1>Cadastre sua nova senha</h1>
            <p>crie uma nova senha de acesso</p>

            <form class="paddTop">
                <div class="align"><input class="input" type="text" placeholder="Senha" required><img src="../../../assets/icons/checkmark-full-green.svg" alt="Checkmark icon"></div>
                <div class="align"><input class="input" type="text" placeholder="Confirme sua senha" required><img src="../../../assets/icons/checkmark-full-red.svg" alt="Checkmark icon"></div>
            </form>
            <br>
            <div class="main-content-buttons paddTop">
                <a  [routerLink]="['/login']"><button class="button button-green buttonLogin">CADASTRE</button></a>
                <a [routerLink]="['']"><button class="button button-gray buttonCancel">CANCELAR</button></a>
            </div>

        </div>
    </div>
</section>