@use '../../../../scss/variables';

.backgroundImage{
    z-index: 990;
    right: 2rem;
    bottom: 2rem;
    position: absolute;
    width: 5rem;
}

.content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 2.5rem;
    text-align: left;
    z-index: 995;

    h1 {
        font-weight: 900;
        font-size: 2.5rem;
        color: variables.$gray-600;
        padding-bottom: 15px;
    }
    
    div .align {
        display: flex;
        align-items: center;
        padding-top: 20px;
    }

    img {
        width: 20px;
    }

    #itens{
        align-items: center;
        text-align: center;
        color:variables.$gray-600;
    }
}

.card {
    display: flex;
    width: 50%;
    max-width: 800px;
    height: 400px;
    margin: 150px auto 0;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 40px rgba(172, 176, 202, 0.6);
    justify-content: space-between;
    overflow: hidden;
    z-index: 985;
}

.hidden{
    display: none;
}