@use '../../../../scss/variables';

.modal-container {
  position: fixed;
  background-color: rgba(0, 0, 0, .7);
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-content {
    background-color: variables.$white;
    padding: 3rem 6rem 3rem 3rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-shadow: 5px 5px 40px rgba(157, 160, 179, 0.6);
    position: relative;

    .modal-close-button {
      position: absolute;
      right: .8rem;
      top: .8rem;
      cursor: pointer;
    }

    h1 {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.8rem;
      letter-spacing: 1px;
      color: variables.$gray-600;
    }

    ul {
      li {
        display: flex;
        align-items: center;
        gap: .25rem;

        img {
          width: 30px;
        }

        span {
          color: variables.$gray-600;
          font-weight: 500;
        }

        &:not(:first-child){
          margin-top: 1rem;
        }
      }
    }

    .modal-banner {
      width: 80px;
      position: absolute;
      bottom: 2.5rem;
      right: 2.5rem;
      transform: rotate(30deg);
    }
  }
}

.hidden {
  display: none;
}