<div class="slider">
  <div class="slides">
    <input type="radio" name="radio-btn" id="customer1" class="btn-customer1">
    <input type="radio" name="radio-btn" id="customer2" class="btn-customer2">
    <input type="radio" name="radio-btn" id="customer3" class="btn-customer3">
    <input type="radio" name="radio-btn" id="customer4" class="btn-customer4">

    <div *ngFor="let item of slidesList; index as i" class="main-description-customer-card-container" [ngClass]="{'slide-first': i === 0}">
      <div class="main-description-customer-card-content">
        <img src="../assets/images/{{item.imageName}}.png" alt="Ímagem de um cliente">
        <div>
          <h3>{{ item.name }}</h3>
          <span>{{ item.job }}</span>
        </div>
      </div>

      <p>{{ item.feedback }}</p>
    </div>

    <div class="main-description-customer-navigation-auto">
      <div class="auto-btn1"></div>
      <div class="auto-btn2"></div>
      <div class="auto-btn3"></div>
      <div class="auto-btn4"></div>
    </div>
  </div>
</div>

<div class="main-description-customer-navigation">
  <label for="customer1" class="manual-btn" (click)="updateCount(1)"></label>
  <label for="customer2" class="manual-btn" (click)="updateCount(2)"></label>
  <label for="customer3" class="manual-btn" (click)="updateCount(3)"></label>
  <label for="customer4" class="manual-btn" (click)="updateCount(4)"></label>
</div>