@use '../../../../scss/variables';

.slider {
  width: 380px;
  overflow: hidden;

  .slides {
    width: 400%;
    display: flex;

    input {
      display: none;
    }

    .main-description-customer-card-container {
      width: 25%;
      position: relative;
      transition: .4s ease-in-out;

      .main-description-customer-card-content {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    
        div {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: .5rem;
    
          h3 {
            font-weight: bold;
            font-size: 1rem;
            color: variables.$gray-600;
          }
    
          span {
            font-weight: 500;
            font-size: .75rem;
            color: variables.$gray-600;
          }
        }
      }
      
      p {
        margin-top: 1rem;
        font-weight: 500;
        font-size: .875rem;
        color: variables.$gray-600;
        line-height: 1.3rem;
      }
    }

    .btn-customer1 {
      &:checked ~ .slide-first {
        margin-left: 0;
      }

      &:checked ~ .main-description-customer-navigation-auto .auto-btn1{
        background-color: variables.$green-600;
      }
    }

    .btn-customer2 {
      &:checked ~ .slide-first {
        margin-left: -25%;
      }

      &:checked ~ .main-description-customer-navigation-auto .auto-btn2{
        background-color: variables.$green-600;
      }
    }

    .btn-customer3 {
      &:checked ~ .slide-first {
        margin-left: -50%;
      }

      &:checked ~ .main-description-customer-navigation-auto .auto-btn3{
        background-color: variables.$green-600;
      }
    }

    .btn-customer4 {
      &:checked ~ .slide-first {
        margin-left: -75%;
      }

      &:checked ~ .main-description-customer-navigation-auto .auto-btn4{
        background-color: variables.$green-600;
      }
    }
  }

  .main-description-customer-navigation-auto {
    position: absolute;
    width: 380px;
    display: flex;
    bottom: -1.5rem;
    left: .5rem;

    div{
      border: 2px solid variables.$green-600;
      padding: 4px;
      border-radius: 10px;
      cursor: pointer;
      transition: .4s;

      &:not(:last-child){
        margin-right: 1rem;
      }
    }
  }
}

.main-description-customer-navigation {
  position: absolute;
  width: 380px;
  display: flex;
  bottom: -1.5rem;
  left: .5rem;    

  .manual-btn {
    border: 2px solid variables.$green-600;
    padding: 4px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;

    &:not(:last-child){
      margin-right: 1rem;
    }

    &:hover {
      background-color: variables.$green-600;
    }
  }
}