<div class="main">
  <app-dashboard></app-dashboard>
  <div class="main-container">
    <div class="sistema-pagamento">
      <div class="title-payment">
        <span>SISTEMA DE PAGAMENTOS</span>
      </div>
      <hr>
      <app-table-payments></app-table-payments>
      
    </div>

    <div class="input-pagamento">
      <div class="div-pagamento">
        <div class="div-descricao">
          <div class="div-description">
            <label for="description">Descrição: </label>
          </div>          
          <div class="div-inputs">
            <input id="description" class="input-payment" type="text" placeholder="Descrição">
          </div>
        </div>
          <div class="div-date">
            <div class="div-description">
              <label for="input-data">Data: </label>
            </div>
            <div class="div-inputs">
              <input id="input-data" class="input-payment" type="date">
            </div>
          </div>
          <div class="div-valor">
            <div class="div-description">
              <label for="value-input">Valor: </label>
            </div>
            <div class="div-inputs">
              <input id="value-input" class="input-payment" type="number" placeholder="Valor">
            </div>
          </div>
          <div class="div-note">
            <div class="div-description">
              <label for ="note-input">Observação: </label>
            </div>
            <div class="div-inputs">
              <input id="note-input" class="input-payment" type="text" placeholder="Observações">
            </div>
          </div>
          <button class="button-payments">ADICIONAR</button>
      </div>
    </div>
  </div>
</div>