@use '../../../scss/variables';

.card {
  display: flex;
  max-width: 600px;
  height: 460px;
  margin: 150px auto 0;
  align-items: center;
  text-align: center;
  position: relative;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 40px rgba(172, 176, 202, 0.6);
  justify-content: space-between;
  overflow: hidden;
}

.left-content {
  .recovery-loader{
    position: absolute;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: calc(100% + 2rem);
    top: -1rem;
    left: 0;
    border-radius: 20px 0 0 20px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  display: flex;
  flex: 1;

  flex-direction: column;
  padding: 2.5rem;
  background-color: white;

  h1 {
    font-weight: 900;
    font-size: 2.5rem;
    color: variables.$gray-600;
    padding-top: 0.6rem;
  }

  p {
    color: variables.$gray-300;
    padding-top: 0.8rem;
  }

  .paddTop {
    padding-top: 2rem;
  }

  .inputLogin {
    width: 65%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid variables.$gray-300;
    outline-color: variables.$gray-600;
    margin-top: 18px;
    padding-left: 10px;
    color: variables.$gray-600;
  }

  input :focus,
  input :hover {
    border-color: variables.$gray-300;
    color: variables.$gray-300;
  }

  ::placeholder {
    color: variables.$gray-300
  }

  .buttonConfirm,
  .buttonCancel {
    width: 30%;
    text-transform: uppercase;
  }

  .buttonConfirm {
    border-color: variables.$gray-300;
  }

  .buttonCancel {
    margin-left: 1.5rem;
  }
}

.backGround {
  height: calc(100% - 240px);

  &::before {
    content: '';
    position: absolute;
    min-height: 100%;
    width: 100%;
    top: 0;
    background-image: url("../../../assets/images/background.png");
    z-index: -1;
  }
}



.request-successfully {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 1rem;
  
  h1 {
    color: variables.$green-600;
    font-size: 1.85rem;
    font-weight: 600;
  }

  p {
    color: variables.$gray-600;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5rem;
  }

  button {
    width: 80%;
    text-transform: uppercase;
    font-size: 1.125rem;
  }
}




@media only screen and (max-width: 900px) {
  .card{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .left-content {
    margin-left: 1rem;
    margin-right: 1rem;
    .recovery-loader{
      position: absolute;
      background-color: rgba(0, 0, 0, .6);
      width: 100%;
      height: calc(100% + 2rem);
      top: -1rem;
      left: 0;
      border-radius: 20px 0 0 20px;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    display: flex;
    flex: 1;
  
    flex-direction: column;
    padding: 2.5rem;
    background-color: white;
  
    h1 {
      font-weight: 900;
      font-size: 2rem;
      color: variables.$gray-600;
      padding-top: 0.6rem;
    }
  
    p {
      color: variables.$gray-300;
      padding-top: 0.8rem;
    }
  
    .paddTop {
      padding-top: 2rem;
    }
  
    .inputLogin {
      width: 65%;
      height: 40px;
      border-radius: 4px;
      border: 1px solid variables.$gray-300;
      outline-color: variables.$gray-600;
      margin-top: 18px;
      padding-left: 10px;
      color: variables.$gray-600;
    }
  
    input :focus,
    input :hover {
      border-color: variables.$gray-300;
      color: variables.$gray-300;
    }
  
    ::placeholder {
      color: variables.$gray-300
    }
  
    .buttonConfirm,
    .buttonCancel {
      text-transform: uppercase;
    }
  
    .buttonConfirm {
      border-color: variables.$gray-300;
    }
  
    .buttonCancel {
      margin-left: 1.5rem;
    }
  }
  
  .backGround {
    height: calc(100% - 240px);
  
    &::before {
      content: '';
      position: absolute;
      min-height: 100%;
      width: 100%;
      top: 0;
      background-image: url("../../../assets/images/background.png");
      z-index: -1;
    }
  }


  .button-submit,.button-cancel{
    width: 100%;
    background-color: blue;
  }

}


@media only screen and (max-width: 600px) {
  

  .left-content {
    margin-left: 1rem;
    margin-right: 1rem;
    .recovery-loader{
      position: absolute;
      background-color: rgba(0, 0, 0, .6);
      width: 100%;
      height: calc(100% + 2rem);
      top: -1rem;
      left: 0;
      border-radius: 20px 0 0 20px;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    display: flex;
    flex: 1;
  
    flex-direction: column;
    padding: 2.5rem;
    background-color: white;
  
    h1 {
      font-weight: 900;
      font-size: 2rem;
      color: variables.$gray-600;
      padding-top: 0.6rem;
    }
  
    p {
      color: variables.$gray-300;
      padding-top: 0.8rem;
    }
  
    .paddTop {
      padding-top: 2rem;
    }
  
    .inputLogin {
      width: 65%;
      height: 40px;
      border-radius: 4px;
      border: 1px solid variables.$gray-300;
      outline-color: variables.$gray-600;
      margin-top: 18px;
      padding-left: 10px;
      color: variables.$gray-600;
    }
  
    input :focus,
    input :hover {
      border-color: variables.$gray-300;
      color: variables.$gray-300;
    }
  
    ::placeholder {
      color: variables.$gray-300
    }
  
    .buttonConfirm,
    .buttonCancel {
      width: 90px;
      font-size: 12px;
      text-transform: uppercase;
    }
  
    .buttonConfirm {
      border-color: variables.$gray-300;
    }
  
    .buttonCancel {
      margin-left: 0.5rem;
    }
  }
  
  .backGround {
    height: calc(100% - 240px);
  
    &::before {
      content: '';
      position: absolute;
      min-height: 100%;
      width: 100%;
      top: 0;
      background-image: url("../../../assets/images/background.png");
      z-index: -1;
    }
  }



}