@use '../../../scss/variables';

.left-content {
    display: flex;
    flex: 1;

    flex-direction: column;
    padding: 2.5rem;
    background-color: white;

    h1 {
        font-weight: 900;
        font-size: 2.5rem;
        color: variables.$gray-600;
        padding-top: 0.6rem;
    }

    p {
        color: variables.$gray-300;
        padding-top: 0.8rem;
    }

    .paddTop {
        padding-top: 2rem;
    }

    .inputLogin {
        width: 65%;
        height: 40px;
        border-radius: 4px;
        border: 1px solid variables.$gray-300;
        outline-color: variables.$gray-600;
        margin-top: 18px;
        padding-left: 10px;
        color: variables.$gray-600;
    }

    input :focus, input :hover {
        border-color: variables.$gray-300;
        color: variables.$gray-300;
    }

    ::placeholder {
        color: variables.$gray-300
    }

    .buttonLogin {
        width: 30%;
        border-color: variables.$gray-300;
    }

    .buttonCancel {
        width: 30%;
        margin-left: 22px;
    }
}

.backGround {
    height: calc(100% - 240px);

    &::before {
        content: '';
        position: absolute;
        min-height: 100%;
        width: 100%;
        top: 0;
        background-image: url("../../../assets/images/background.png");
        z-index: -1;
    }
}

.card {
    display: flex;
    width: 50%;
    max-width: 600px;
    height: 460px;
    margin: 150px auto 0;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 40px rgba(172, 176, 202, 0.6);
    justify-content: space-between;
    overflow: hidden;
}