@use '../../../../../scss/variables';

table{
  width: 100%;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85%;
  padding: 0 1rem;
  position: relative;

  .paginator {
    position: absolute;
    bottom: 0;
  }

  table td {
    border: none;
    text-align: center;
  }
  table th{
    text-align: center;
  }
}

.icon-table{
  width: 24px;
}

.buttons {
  background-color: transparent;
  border: none;
}


.modal-container {
  position: fixed;
  background-color: rgba(0, 0, 0, .7);
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  .modal-content {
    background-color: variables.$white;
    padding: 3rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    box-shadow: 5px 5px 40px rgba(157, 160, 179, 0.6);
    position: relative;

    .modal-close-button {
      position: absolute;
      right: .8rem;
      top: .8rem;
      cursor: pointer;
    }

    h1 {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.8rem;
      letter-spacing: 1px;
      color: variables.$gray-600;
    }

    .div-pagamento {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 1rem;
      gap: 2rem;
    
      h2 {
        font-size: 1.5rem;
        color: variables.$gray-600;
        text-transform: uppercase;
        font-weight: 600;
      }
    
      .div-pagamento-form-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    
        .div-pagamento-form-content-group {
          display: flex;
          flex-direction: column;
          gap: .1rem;
    
          .input-payment {
            padding: .25rem 0.5rem;
            width: 300px;
            height: 25px;
            border: 1px solid variables.$gray-600;
            border-radius: 4px;
          }
        }
      }
    }
  }
}

.labelDiv {
  width: 50px;
}

.div-descricao,
.div-date,
.div-valor,
.div-note {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}


.div-inputs {
  width: 400px;
}

.button-payments {
  box-shadow: 0px 9px 20px rgba(35, 215, 150, 0.4);
  border: none;
  width: 238px;
  color: white;
  height: 38px;
  border-radius: 4px;
  background-color: variables.$green-600;
}

label {
  color: variables.$gray-600;
  font-size: 14px;
  line-height: 21px;
}

.hidden {
  display: none;
}