<div class="main-container">
    <div class="dashboard-menu">
        <div class="dashboard-title">
            <img src="../../../../assets/images/BradMoney-logo.png">
        </div>
        <div class="dashboard-options">
            <div class="dashboard-user-content">
                <img src="./../../../assets/icons/user-icon.png">
                <span>User</span>
            </div>
            <hr class="hr-main">
            <div class="dashboard-options-content">
                <a [routerLink]="['../']">
                    <div class="dashboard-card dashboard-active">
                        <img src="./../../../assets/icons/user-icon-alpha.svg" class="dashboard-icons">
                        <span>Home</span>
                    </div>
                </a>

                <a [routerLink]="['./pagamentos']">
                    <div class="dashboard-card">
                        <img src="./../../../assets/icons/payment-icon.png" class="dashboard-icons">
                        <span>Pagamentos</span>                    
                    </div>
                 </a>

                <div class="dashboard-card">
                    <img src="./../../../assets/icons/investimento-icon.png" class="dashboard-icons">
                    <span>Investimentos</span>
                </div>
                <div class="dashboard-card">
                    <img src="./../../../assets/icons/fale-conosco-icon.png" class="dashboard-icons">
                    <span>Fale Conosco</span>
                </div>
                <a [routerLink]="['']">
                    <div class="dashboard-card">
                        <img src="./../../../assets/icons/exit-icon.png" class="dashboard-icons">
                        <span>Sair</span>
                    </div>
                </a>
            </div>
        </div>
        <hr>
    </div>
    <div class="outlet">
        <router-outlet></router-outlet>
    </div>
</div>