<app-header></app-header>
<section class="backGround">
    <div class="card">
        <div class="left-content">
            <h1>Login</h1>
            <p>Realize seu login no seu aplicativo</p>

            <form class="paddTop">
                <input class="inputLogin" type="text" placeholder="Usuário" required>
                <input class="inputLogin" type="password" placeholder="Senha" required>
                <p class="padd"><small>Esqueceu sua senha?</small></p>
            </form>
            <div class="main-content-buttons paddTop">
                <button class="button button-green buttonLogin">Login</button>
                <button class="button button-gray buttonCancel">Cadastrar</button>
            </div>

        </div>
        <div class="right-content">
            <div id="itens">
                <h2>BENEFÍCIOS DO <br> <p><span>BRADMONEY</span></p></h2>
                <p><img src="../../../assets/icons/checkmark.svg" alt="Checkmark icon"><span>&nbsp; Intuítivo</span></p>
                <p><img src="../../../assets/icons/checkmark.svg" alt="Checkmark icon"><span>&nbsp; Confiável</span></p>
                <p><img src="../../../assets/icons/checkmark.svg" alt="Checkmark icon"><span>&nbsp; Completo</span></p>
                <p><img src="../../../assets/icons/checkmark.svg" alt="Checkmark icon"><span>&nbsp; Gratuíto</span></p>
            </div>
        </div>
    </div>
</section>