@use '../../../scss/variables';

.left-content {
    display: flex;
    flex: 1;

    flex-direction: column;
    padding: 2.5rem;
    text-align: left;
    background-color: white;

    h1 {
        font-weight: 900;
        font-size: 2.5rem;
        color: variables.$gray-600;
        padding-bottom: 15px;
    }

    p {
        color: variables.$gray-300;
    }

    .paddTop {
        padding-top: 15%;
    }

    .recovery-password {
        font-size: 0.8em;
        text-align: end;
        color: variables.$green-600;
        margin-top: .25rem;
    }
    
    .recovery-password :hover, .recovery-password :focus{
        color: variables.$red-600;
    }

    .inputLogin {
        width: 95%;
        height: 40px;
        border-radius: 4px;
        border: 1px solid variables.$gray-300;
        outline-color: variables.$gray-600;
        margin-top: 18px;
        padding-left: 10px;
        color: variables.$gray-600;

    }

    input :focus, input :hover {
        border-color: variables.$gray-300;
        color: variables.$gray-300;
    }



    ::placeholder {
        color: variables.$gray-300
    }

    .buttonLogin {
        width: 45%;
        border-color: variables.$gray-300;
    }

    .buttonCancel {
        width: 45%;
        margin-left: 22px;
    }
}

.right-content {
    display: flex;
    width: 50%;
    background-image: url(../../../assets/images/background-login.png);
    background-size: auto;
    height: 100%;

    h2 {
        font-weight: 400;
        font-size: 1.3rem;
    }

    #itens{
        align-items: center;
        text-align: left;
        color: white;
        padding: 25% 30%;
    }

    img {
        width: 20px;
    }

    p {
        padding-top: 20px;
    }

    span {
        font-weight: 800;
    }
    div .align {
        display: flex;
        align-items: center;
        padding-top: 20px;
    }
}

.backGround {
    height: calc(100% - 240px); 

    &::before {
        content: '';
        position: absolute;
        min-height: 100%;
        width: 100%;
        top: 0;
        background-image: url("../../../assets/images/background.png");
        z-index: -1;
    }
}

.card {
    display: flex;
    width: 60%;
    max-width: 800px;
    height: 460px;
    margin: 150px auto 0;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 40px rgba(172, 176, 202, 0.6);
    justify-content: space-between;
    overflow: hidden;
}