<app-header></app-header>
<section class="backGround">
    <div class="card">
        <div class="left-content">
            <h1>Login</h1>
            <p>Realize seu login no seu aplicativo</p>

            <form class="paddTop" [formGroup]="loginForm" (ngSubmit)="handleSubmit($event)">
                <input class="inputLogin" type="email" id="email" placeholder="Email" required formControlName="email">
                <input class="inputLogin" type="password" placeholder="Senha" required formControlName="password">
                <p class="padd"><small><a [routerLink]="['../recovery']">Esqueceu sua senha?</a></small></p>
                <div class="main-content-buttons paddTop">
                    <button type="submit" class="button button-green buttonLogin">LOGIN</button>
                    <a [routerLink]="['/register']"><button type="button" class="button button-gray buttonCancel">CADASTRAR</button></a>
                </div>
            </form>
            

        </div>
        <div class="right-content">
            <div id="itens">
                <h2>BENEFÍCIOS DO <br>
                    <p><span>BRADMONEY</span></p>
                </h2>
                <br>   
                <div class="align"><img src="../../../assets/icons/checkmark.svg" alt="Checkmark icon"><span>&nbsp;
                        Intuítivo</span></div>
                <div class="align"><img src="../../../assets/icons/checkmark.svg" alt="Checkmark icon"><span>&nbsp;
                        Confiável</span></div>
                <div class="align"><img src="../../../assets/icons/checkmark.svg" alt="Checkmark icon"><span>&nbsp;
                        Completo</span></div>
                <div class="align"><img src="../../../assets/icons/checkmark.svg" alt="Checkmark icon"><span>&nbsp;
                        Gratuíto</span></div>
            </div>
        </div>
    </div>
</section>