<section class="backGround">
    <div class="card">
        <div class="left-content">
            <h1>Login</h1>
            <p>Realize seu login no seu  aplicativo</p>

            <form>
                <input class="inputLogin" type="text" placeholder="Usuário" required>
                <input class="inputLogin" type="password" placeholder="Senha" required>
                <p>Esqueceu sua senha?</p>
            </form>
            <div class="main-content-buttons">
                <button class="button button-green buttonLogin">Login</button>
                  <button class="button button-gray buttonCancel">Cancelar</button>
              </div>

        </div>
        <div class="rigth"></div>
    </div>
</section>