@use '../../../../../scss/variables';

.main {
  display: flex;
  width: 100%;
  min-height: 100%;
  background-image: url("../../../../../assets/images/background.png");

  .main-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 80%;
    height: 90%;
    gap: 1rem;
  }
}

.sistema-investments {
  border: 0.923613px solid #D2D1DC;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
  border-radius: 4px;
  flex: 50%;
  background-color: variables.$white;
}

.title-investments {
  margin: 1rem;
  margin-left: 2rem;
}

.title-investments span {
  color: variables.$gray-600;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
}

hr {
  margin-left: 1rem;
  margin-right: 1rem;
}

.input-investments {
  background-color: variables.$white;
  flex: 50%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border: 0.923613px solid #D2D1DC;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
  border-radius: 4px;

}

.div-investments {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 500px;
  flex-direction: column;
  gap: 2rem;

  h2 {
    font-size: 1.5rem;
    color: variables.$gray-600;
    text-transform: uppercase;
    font-weight: 600;
  }

  .div-investments-form-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    .div-investments-form-content-group {
      display: flex;
      flex-direction: column;
      gap: .1rem;

      .input-payment {
        padding: .25rem 0.5rem;
        width: 300px;
        height: 25px;
        border: 1px solid variables.$gray-600;
        border-radius: 4px;
      }
    }

    .div-investments-form-content-group-flex {
      display: flex;
      align-items: center;
      gap: 1rem;

      .input-payment {
        width: 136px;
        text-transform: uppercase;
      }

    }
  }
}

.labelDiv {
  width: 50px;
}

.div-descricao,
.div-date,
.div-valor,
.div-note {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}


.div-inputs {
  width: 400px;
}

.button-payments {
  box-shadow: 0px 9px 20px rgba(35, 215, 150, 0.4);
  border: none;
  width: 238px;
  color: white;
  height: 38px;
  border-radius: 4px;
  background-color: variables.$green-600;
}

label {
  color: variables.$gray-600;
  font-size: 14px;
  line-height: 21px;
}

.header-investimentos, .header-detailing-investments {
  padding: .5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-investimentos, .title-detailing-investments {
  line-height: 21px;
  font-size: 16px;
  color: variables.$gray-600;
}

.year-investimentos span, .year-detailing-investments span {
  margin-right: 0.6rem;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
}

.chart-detailing-investments-value{
  font-weight: 500;
  font-size: .85rem;
}

.inner-stocks {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mat-expansion-panel-header{
  padding: 0;
  height: 40px;
}

.chart-detailing-investments-group{
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;

  .chart-detailing-investments-group-content {
    width: 96.5%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: variables.$gray-600;
  }
}

.chart-detailing-investments-group-title {
  h3 {
    width: 70px;
  }

  span {
    width: 70px;
  }

  display: flex;
  gap: 1.25rem;
}

.mat-expansion-panel-header-description{
  justify-content: space-between;
}

.stocks-chart {
  display: flex;
  align-items: center;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
  border-radius: 4px;
  height: 42px;
}

.stock-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  color: variables.$gray-600;
  font-size: 1rem;
  font-weight: 700;
}

.stock-button, .fiis-button, .tesouro-button, .fiagro-button{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px 0px 0px 4px;
  margin-right: 1rem;
  height: 40px;
  max-width: 60px;
  width: 100%;
  cursor: pointer;
}

.stock-title {
  max-width: 90px;
  width: 100%;
  color: variables.$gray-600;
  font-weight: 500;
  font-size: 1rem;
}

.progress-bar-container{
  flex: 1;  
}


.progress-bar{
  max-width: 300px;

  h2 {
    text-align: start;
    margin-left: .5rem;
    font-weight: bold;
    font-size: 1.125rem;
  }

  .progress-bar-content {
      margin-top: .125rem;
      width: 100%;
      height: 6px;
      background-color: variables.$gray-300;
      border-radius: 6px;
      overflow: hidden;
    
      div{
        height: 6px;
      }
  }  
}

.stock-progress-bar{

  h2 {
    color: variables.$red-600;
  }

  div{
    width: 42.9%;
    background-color: variables.$red-600;
  }
}

.fiis-progress-bar{

  h2 {
    color: variables.$blue-600;
  }

  div{
    width: 22.9%;
    background-color: variables.$blue-600;
  }
}

.treasure-progress-bar{

  h2 {
    color: variables.$yellow-600;
  }

  div{
    width: 64.9%;
    background-color: variables.$yellow-600;
  }
}

.fiagro-progress-bar{

  h2 {
    color: variables.$green-600;
  }

  div{
    width: 12.13%;
    background-color: variables.$green-600;
  }
}

.progress-sub-bar-container{
  display: block;
  max-width: 250px;
  width: 100%;

  .progress-bar-content{
    div{
      width: 60%;
    }
    
  }

  h2 {
    font-size: 1rem;
  }

  .progress-bar-content{
    height: 4px;

    div{
      height: 4px;
    }
  }
}

.stock-button {
  background-color: variables.$red-600;
}

.fiis-button {
  background-color: variables.$blue-600;
}

.tesouro-button {
  background-color: variables.$yellow-600;
}

.fiagro-button {
  background-color: variables.$green-600;
}