<div class="main">
  <app-dashboard></app-dashboard>
  <div class="main-container">
    <div class="sistema-investments">
      <div class="title-investments">
        <span>CONTROLE DE INVESTIMENTOS</span>
      </div>
      <hr>
      <div class="inner-stocks">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="stock-button">
                <img src="../../../../../assets/icons/plus-icon.svg" alt="Ícone do símbolo mais">
              </div>
              <div class="stock-title">
                AÇÕES
              </div>
              <div class="stock-title">
                QNTD
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <div class="progress-bar-container">
                <div class="stock-progress-bar progress-bar">
                  <h2>42,90%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
              </div>
              <div class="chart-detailing-investments-value">
                R$ 13.123,12
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="chart-detailing-investments-group">
            <div class="chart-detailing-investments-group-content">
              <div class="chart-detailing-investments-group-title">
                <h3>TAEE13</h3>
                <span>110</span>
              </div>
              <div class="progress-sub-bar-container">
                <div class="stock-progress-bar progress-bar">
                  <h2>42,90%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
              </div>
              <div class="chart-detailing-investments-value">
                R$ 13.123,12
              </div>
            </div>

            <div class="chart-detailing-investments-group-content">
              <div class="chart-detailing-investments-group-title">
                <h3>BBDC3</h3>
                <span>110</span>
              </div>
              <div class="progress-sub-bar-container">
                <div class="stock-progress-bar progress-bar">
                  <h2>25%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
              </div>
              <div class="chart-detailing-investments-value">
                R$ 3.123,12
              </div>
            </div>

            <div class="chart-detailing-investments-group-content">
              <div class="chart-detailing-investments-group-title">
                <h3>CPLE6</h3>
                <span>110</span>
              </div>
              <div class="progress-sub-bar-container">
                <div class="stock-progress-bar progress-bar">
                  <h2>35%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
              </div>
              <div class="chart-detailing-investments-value">
                R$ 3.123,12
              </div>
            </div>

            <div class="chart-detailing-investments-group-content">
              <div class="chart-detailing-investments-group-title">
                <h3>RANI3</h3>
                <span>110</span>
              </div>
              <div class="progress-sub-bar-container">
                <div class="stock-progress-bar progress-bar">
                  <h2>35%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
              </div>
              <div class="chart-detailing-investments-value">
                R$ 3.123,12
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="fiis-button">
                <img src="../../../../../assets/icons/plus-icon.svg" alt="Ícone do símbolo mais">
              </div>
              <div class="stock-title">
                FIIS
              </div>
              <div class="stock-title">
                QNTD
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <div class="progress-bar-container">
                <div class="fiis-progress-bar progress-bar">
                  <h2>22,90%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
              </div>
              <div class="chart-detailing-investments-value">
                R$ 13.123,12
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="chart-detailing-investments-group">
            <div class="chart-detailing-investments-group-content">

              <div class="chart-detailing-investments-group-title">
                <h3>TAEE13</h3>
                <span>110</span>
              </div>

              <div class="progress-sub-bar-container">
                <div class="fiis-progress-bar progress-bar">
                  <h2>42,90%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
              </div>

              <div class="chart-detailing-investments-value">
                R$ 13.123,12
              </div>
            </div>

            <div class="chart-detailing-investments-group-content">
              <div class="chart-detailing-investments-group-title">
                <h3>BBDC3</h3>
                <span>110</span>
              </div>
              <div class="progress-sub-bar-container">
                <div class="fiis-progress-bar progress-bar">
                  <h2>22,90%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
              </div>
              <div class="chart-detailing-investments-value">
                R$ 3.123,12
              </div>
            </div>

            <div class="chart-detailing-investments-group-content">
              <div class="chart-detailing-investments-group-title">
                <h3>CPLE6</h3>
                <span>110</span>
              </div>
              <div class="progress-sub-bar-container">
                <div class="fiis-progress-bar progress-bar">
                  <h2>25,00%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
              </div>
              <div class="chart-detailing-investments-value">
                R$ 3.123,12
              </div>
            </div>

            <div class="chart-detailing-investments-group-content">
              <div class="chart-detailing-investments-group-title">
                <h3>RANI3</h3>
                <span>110</span>
              </div>
              <div class="progress-sub-bar-container">
                <div class="fiis-progress-bar progress-bar">
                  <h2>25,00%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
              </div>
              <div class="chart-detailing-investments-value">
                R$ 3.123,12
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="tesouro-button">
                <img src="../../../../../assets/icons/plus-icon.svg" alt="Ícone do símbolo mais">
              </div>
              <div class="stock-title">
                TESOURO
              </div>
              <div class="stock-title">
                QNTD
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <div class="progress-bar-container">
                <div class="treasure-progress-bar progress-bar">
                  <h2>64,90%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
              </div>
              <div class="chart-detailing-investments-value">
                R$ 13.123,12
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="chart-detailing-investments-group">
            <div class="chart-detailing-investments-group-content">
              <div class="chart-detailing-investments-group-title">
                <h3>TAEE11</h3>
                <span>110</span>
              </div>
              <div class="progress-sub-bar-container">
                <div class="treasure-progress-bar progress-bar">
                  <h2>25,00%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
              </div>
              <div class="chart-detailing-investments-value">
                R$ 13.123,12
              </div>
            </div>

            <div class="chart-detailing-investments-group-content">
              <div class="chart-detailing-investments-group-title">
                <h3>BBDC3</h3>
                <span>110</span>
              </div>
              <div class="progress-sub-bar-container">
                <div class="treasure-progress-bar progress-bar">
                  <h2>25,00%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
              </div>
              <div class="chart-detailing-investments-value">
                R$ 3.123,12
              </div>
            </div>

            <div class="chart-detailing-investments-group-content">
              <div class="chart-detailing-investments-group-title">
                <h3>CPLE6</h3>
                <span>110</span>
              </div>
              <div class="progress-sub-bar-container">
                <div class="treasure-progress-bar progress-bar">
                  <h2>25,00%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
              </div>
              <div class="chart-detailing-investments-value">
                R$ 3.123,12
              </div>
            </div>

            <div class="chart-detailing-investments-group-content">
              <div class="chart-detailing-investments-group-title">
                <h3>RANI3</h3>
                <span>110</span>
              </div>
              <div class="progress-sub-bar-container">
                <div class="treasure-progress-bar progress-bar">
                  <h2>25,00%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
              </div>
              <div class="chart-detailing-investments-value">
                R$ 3.123,12
              </div>
            </div>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="fiagro-button">
                <img src="../../../../../assets/icons/plus-icon.svg" alt="Ícone do símbolo mais">
              </div>
              <div class="stock-title">
                FIAGRO
              </div>
              <div class="stock-title">
                QNTD
              </div>
            </mat-panel-title>
            <mat-panel-description>
              <div class="progress-bar-container">
                <div class="fiagro-progress-bar progress-bar">
                  <h2>14,90%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
              </div>
              <div class="chart-detailing-investments-value">
                R$ 13.123,12
              </div>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="chart-detailing-investments-group">
            <div class="chart-detailing-investments-group-content">
              <div class="chart-detailing-investments-group-title">
                <h3>TAEE11</h3>
                <span>110</span>
              </div>
              <div class="progress-sub-bar-container">
                <div class="fiagro-progress-bar progress-bar">
                  <h2>25,00%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
              </div>
              <div class="chart-detailing-investments-value">
                R$ 13.123,12
              </div>
            </div>

            <div class="chart-detailing-investments-group-content">
              <div class="chart-detailing-investments-group-title">
                <h3>BBDC3</h3>
                <span>110</span>
              </div>
              <div class="progress-sub-bar-container">
                <div class="fiagro-progress-bar progress-bar">
                  <h2>25,00%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
              </div>
              <div class="chart-detailing-investments-value">
                R$ 3.123,12
              </div>
            </div>

            <div class="chart-detailing-investments-group-content">
              <div class="chart-detailing-investments-group-title">
                <h3>CPLE6</h3>
                <span>110</span>
              </div>
              <div class="progress-sub-bar-container">
                <div class="fiagro-progress-bar progress-bar">
                  <h2>25,00%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
              </div>
              <div class="chart-detailing-investments-value">
                R$ 3.123,12
              </div>
            </div>

            <div class="chart-detailing-investments-group-content">
              <div class="chart-detailing-investments-group-title">
                <h3>RANI3</h3>
                <span>110</span>
              </div>
              <div class="progress-sub-bar-container">
                <div class="fiagro-progress-bar progress-bar">
                  <h2>25,00%</h2>
                  <div class="progress-bar-content">
                    <div></div>
                  </div>
                </div>
              </div>
              <div class="chart-detailing-investments-value">
                R$ 3.123,12
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </div>

    </div>

    <div class="input-investments">
      <form class="div-investments">
        <h2>Adicione um novo Investimento</h2>

        <div class="div-investments-form-content">
          <div class="div-investments-form-content-group-flex">
            <div class="div-investments-form-content-group">
              <label for="description">Ativo: </label>
              <input id="description" class="input-payment" type="text">
            </div>
            <div class="div-investments-form-content-group">
              <label for="description">Quantidade: </label>
              <input id="description" class="input-payment" type="number">
            </div>
          </div>

          <div class="div-investments-form-content-group">
            <label for="description">Data: </label>
            <input id="input-data" class="input-payment" type="date">
          </div>

          <div class="div-investments-form-content-group">
            <label for="description">Valor: </label>
            <input id="value-input" class="input-payment" type="number" placeholder="Valor">
          </div>
        </div>
        <button class="button-payments">ADICIONAR</button>
      </form>
    </div>
  </div>
</div>