<div class="main">
  <app-dashboard></app-dashboard>
  <div class="main-container">
    <div class="sistema-investments">
      <div class="title-investments">
        <span>CONTROLE DE INVESTIMENTOS</span>
      </div>
      <hr>
      <div class="inner-stocks">

        <app-investment-panel *ngIf="user" [allInvestments]="this.user.investments"
          [investmentList]="this.user.investments.stocks" [investmentType]="'Ações'"
          [className]="'stock'"></app-investment-panel>

        <app-investment-panel *ngIf="user" [allInvestments]="this.user.investments"
          [investmentList]="this.user.investments.fiis" [investmentType]="'Fiis'"
          [className]="'fiis'"></app-investment-panel>

        <app-investment-panel *ngIf="user" [allInvestments]="this.user.investments"
          [investmentList]="this.user.investments.treasure" [investmentType]="'Tesouro'"
          [className]="'treasure'"></app-investment-panel>

        <app-investment-panel *ngIf="user" [allInvestments]="this.user.investments"
          [investmentList]="this.user.investments.fiagro" [investmentType]="'Fiagro'"
          [className]="'fiagro'"></app-investment-panel>
      </div>

    </div>

    <div class="input-investments">
      <form class="div-investments" [formGroup]="investmentsForm" (ngSubmit)="handleAddInvestment($event)">
        <h2>Adicione um novo Investimento</h2>

        <div class="div-investments-form-content">
          <div class="div-investments-form-content-group-flex">
            <div class="div-investments-form-content-group">
              <label for="description">Ativo: </label>
              <select name="type" id="investment-type" formControlName='type'>
                <optgroup label="AÇÕES">
                  <option value="BBAS3">BBAS3</option>
                  <option value="BBDC3">BBDC3</option>
                  <option value="CPLE6">CPLE6</option>
                  <option value="PETR4">PETR4</option>
                </optgroup>
                <optgroup label="FIIS">
                  <option value="BCFF11">BCFF11</option>
                  <option value="GAME11">GAME11</option>
                  <option value="GGRC11">GGRC11</option>
                  <option value="MORE11">MORE11</option>
                </optgroup>
                <optgroup label="TESOURO">
                  <option value="PREFIXADO">PREFIXADO</option>
                  <option value="SELIC">SELIC</option>
                  <option value="IPCA+">IPCA+</option>
                  <option value="RENDA+">RENDA+</option>
                </optgroup>
                <optgroup label="FIAGRO">
                  <option value="AGRX11">AGRX11</option>
                  <option value="DCRA11">DCRA11</option>
                  <option value="RZAG11">RZAG11</option>
                  <option value="VGIA11">VGIA11</option>
                </optgroup>
              </select>
            </div>
            <div class="div-investments-form-content-group">
              <label for="description">Quantidade: </label>
              <input id="description" class="input-payment" type="number" formControlName='quantity'>
            </div>
          </div>

          <div class="div-investments-form-content-group">
            <label for="description">Data: </label>
            <input id="input-data" class="input-payment" type="date" formControlName='date'>
          </div>

          <div class="div-investments-form-content-group">
            <label for="description">Valor: </label>
            <input id="value-input" class="input-payment" type="number" placeholder="Valor" formControlName='amount'>
          </div>
        </div>
        <button class="button-payments">ADICIONAR</button>
      </form>
    </div>
  </div>
</div>