<app-header></app-header>

<section class="main-container container">
  <img src="../assets/images/banner-home.png" alt="">

  <div class="main-container-titles">
    <h2>Lorem Ipsum is simply</h2>
    <div>
      <h1>Lorem Ipsum is simply dummy text</h1>
      <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has</span>
    </div>
    <div class="main-container-buttons">
      <button class="button button-green">Create your account</button>
      <button class="button button-gray">Log in</button>
    </div>
  </div>
</section>

<router-outlet></router-outlet>