<app-header></app-header>
<section class="backGround" >
  <div class="card">
    <div class="left-content" *ngIf="!accountCreated">

      <div class="register-loader" *ngIf="showLoader">
        <app-loader></app-loader>
      </div>

      <h1>REGISTRO</h1>
      <p>Realize seu cadastro!</p>
      <form (ngSubmit)="handleSubmit($event)" [formGroup]="registerForm">

        <input class="inputLogin" type="text" id="name" placeholder="Nome" formControlName="name">
        <app-input-validation *ngIf="inputValidations.name.invalid" [type]="'input'" [message]="inputValidations.name.error"></app-input-validation>

        <input class="inputLogin" type="email" id="email" placeholder="Email" formControlName="email">
        <app-input-validation *ngIf="inputValidations.email.invalid" [type]="'input'" [message]="inputValidations.email.error"></app-input-validation>

        <div class="input-password">
          <input class="inputLogin" type="password" id="password" placeholder="Senha" (focus)="handleShowTooltipPassword(true)" (focusout)="handleShowTooltipPassword(false)" formControlName="password">
          <app-tooltip class="input-password-tooltip" *ngIf="showTooltipPassword"></app-tooltip>
        </div>

        <app-input-validation *ngIf="inputValidations.password.invalid" [type]="'input'" [message]="inputValidations.password.error"></app-input-validation>

        <input class="inputLogin" type="text" id="cpf" placeholder="CPF" (input)="maskCPF()" formControlName="cpf">
        <app-input-validation *ngIf="inputValidations.cpf.invalid" [type]="'input'" [message]="inputValidations.cpf.error"></app-input-validation>

        <div class="align form-checkbox">
          <mat-checkbox formControlName="terms">Eu aceito os termos de uso</mat-checkbox>
          <app-input-validation *ngIf="inputValidations.terms.invalid" [type]="'checkbox'" [message]="inputValidations.terms.error"></app-input-validation>
        </div>

        <div class="main-content-buttons form-buttons">
          <button type="submit" class="button button-green buttonLogin">REGISTRAR</button>
          <a [routerLink]="['']"><button type="button" class="button button-gray buttonCancel">CANCELAR</button></a>
        </div>
      </form>

    </div>

    <div class="left-content account-created" *ngIf="accountCreated">
      <div>
        <h1>REGISTRO</h1>
        <p>Realize seu cadastro!</p>
      </div>
      
      <div>
        <h2>Conta cadastrada com sucesso!</h2>
        <p class="account-created-subtitle">Agora falta pouco para ter acesso a sua plataforma, verifique seu email para confirmar a sua inscrição.</p>
      </div>

    </div>
    <div class="right-content">
      <div id="itens">
        <h2>BENEFÍCIOS DO <br>
          <p><span>BRADMONEY</span></p>
        </h2>
        <br>
        <div class="align"><img src="../../../assets/icons/checkmark.svg" alt="Checkmark icon"><span>&nbsp;
            Intuítivo</span></div>
        <div class="align"><img src="../../../assets/icons/checkmark.svg" alt="Checkmark icon"><span>&nbsp;
            Confiável</span></div>
        <div class="align"><img src="../../../assets/icons/checkmark.svg" alt="Checkmark icon"><span>&nbsp;
            Completo</span></div>
        <div class="align"><img src="../../../assets/icons/checkmark.svg" alt="Checkmark icon"><span>&nbsp;
            Gratuíto</span></div>
      </div>
    </div>
  </div>
</section>