@use '../../../../scss/variables';

footer{
  width: 100%;
  background-color: variables.$green-600;
}

footer .container{
  margin-top: 5rem;
  height: 100px;
  
  color: variables.$white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3rem 2rem;

  h2 {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.2px;
  }

  ul{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    li {
      display: flex;
      align-items: center;
      gap: .25rem;

      span {
        margin-top: .1rem;
      }

      img {
        width: 25px;
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  footer .container{
    height: fit-content;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 2rem 1.5rem;
    gap: 2.5rem;

    div {
      width: 45%;
    }
  
    h2 {
      font-size: 1.1rem;
    }
  
    ul{
      margin-top: 1rem;
    }
  }
}