<footer>
  <div>
    <h2>Institucional</h2>
    <ul>
      <li>
        <img src="../../../../assets/icons/user.png" alt="Ícone de usuário">
        <span>Clientes</span>
      </li>
      <li>
        <img src="../../../../assets/icons/info.svg" alt="Ícone de informação">
        <span>Sobre nós</span>
      </li>
      <li>
        <img src="../../../../assets/icons/job.png" alt="Ícone de maleta de trabalho">
        <span>Vagas</span>
      </li>
    </ul>
  </div>

  <div>
    <h2>Produtos</h2>
    <ul>
      <li>
        <img src="../../../../assets/icons/investment.png" alt="">
        <span>Investimentos</span>
      </li>
      <li>
        <img src="" alt="">
        <span>Conta Digital</span>
      </li>
      <li>
        <img src="" alt="">
        <span>Simulador</span>
      </li>
    </ul>
  </div>

  <div>
    <h2>Conteúdos</h2>
    <ul>
      <li>
        <img src="" alt="">
        <span>Youtube</span>
      </li>
      <li>
        <img src="" alt="">
        <span>Blog</span>
      </li>
      <li>
        <img src="" alt="">
        <span>Podcast</span>
      </li>
    </ul>
  </div>

  <div>
    <h2>Redes Sociais</h2>
    <ul>
      <li>
        <img src="" alt="">
        <span>Instagram</span>
      </li>
      <li>
        <img src="" alt="">
        <span>Linkedin</span>
      </li>
      <li>
        <img src="" alt="">
        <span>Facebook</span>
      </li>
    </ul>
  </div>
</footer>