@use '../../../../scss/variables';

footer {
  margin-top: 5rem;
  height: 100px;
  background-color: variables.$green-600;
  color: variables.$white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3rem 2rem;

  h2 {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.2px;
  }

  ul{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    li {
      display: flex;
      align-items: center;
      gap: .25rem;

      span {
        margin-top: .1rem;
      }

      img {
        width: 25px;
      }
    }
  }
}