<footer>
  <div class="container">


    <div>
      <h2>Institucional</h2>
      <ul>
        <li>
          <img src="../../../../assets/icons/user.png" alt="Ícone de usuário">
          <span>Clientes</span>
        </li>
        <li>
          <img src="../../../../assets/icons/info.svg" alt="Ícone de informação">
          <span>Sobre nós</span>
        </li>
        <li>
          <img src="../../../../assets/icons/job.png" alt="Ícone de maleta de trabalho">
          <span>Vagas</span>
        </li>
      </ul>
    </div>

    <div>
      <h2>Produtos</h2>
      <ul>
        <li>
          <img src="../../../../assets/icons/investment.png" alt="Ícone Investimento">
          <span>Investimentos</span>
        </li>
        <li>
          <img src="../../../../assets/icons/digital-account.png" alt="Ícone Conta Digital">
          <span>Conta Digital</span>
        </li>
        <li>
          <img src="../../../../assets/icons/simulador.png" alt="Ícone Simulador">
          <span>Simulador</span>
        </li>
      </ul>
    </div>

    <div>
      <h2>Conteúdos</h2>
      <ul>
        <li>
          <img src="../../../../assets/icons/youtube.png" alt="Ícone youtube">
          <span>Youtube</span>
        </li>
        <li>
          <img src="../../../../assets/icons/blog.png" alt="Ícone Blog">
          <span>Blog</span>
        </li>
        <li>
          <img src="../../../../assets/icons/podcast.png" alt="Ícone Podcast">
          <span>Podcast</span>
        </li>
      </ul>
    </div>

    <div>
      <h2>Redes Sociais</h2>
      <ul>
        <li>
          <img src="../../../../assets/icons/instagram.png" alt="Ícone Instagram">
          <span>Instagram</span>
        </li>
        <li>
          <img src="../../../../assets/icons/linkedin.png" alt="Ícone Linkedin">
          <span>Linkedin</span>
        </li>
        <li>
          <img src="../../../../assets/icons/facebook.png" alt="Ícone Facebook">
          <span>Facebook</span>
        </li>
      </ul>
    </div>
  </div>
</footer>