@use './scss/reset.scss';
@use './scss/variables';

body {
  background-color: variables.$white;
}

body, button, input, textarea, table {
  font-family: 'Poppins', sans-serif;
}

html, body { 
  height: 100%; 
}

button {
  cursor: pointer;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.button{
  border-radius: 4px;
  border: none;
  color: variables.$white;
  padding: 1rem;
  transition: all .4s ease-in-out;
  letter-spacing: 1.2px;

  &:hover {
    filter: brightness(0.9);
  }
}

.button-green {
  box-shadow: 0px 9px 20px rgba(58, 182, 125, 0.4);
  background-color: variables.$green-600;
}

.button-gray {
  background-color: variables.$gray-600;
}

.button-red {
  box-shadow: 0px 9px 20px rgba(235, 87, 87, 0.4);
  background-color: variables.$red-600;
}

.mat-mdc-checkbox.mat-accent .mdc-checkbox--selected~.mdc-checkbox__ripple {
  background: variables.$green-600!important; 
   
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: variables.$green-600!important; 
}

.mdc-checkbox--selected{
  background-color:variables.$green-600!important; 
}

.mat-mdc-checkbox .mdc-form-field {
  color:variables.$gray-300;
}

// Medias Queries

@media only screen and (max-width: 1024px) {
  .container {
    max-width: 996px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 736px;
  }
}


@media only screen and (max-width: 425px) {
  html, body {
    font-size: 14px;
  }

  .container {
    max-width: 98%;
  }
}