@use './scss/reset.scss';
@use './scss/variables';

body {
  background-color: variables.$white;
}

body, button, input, textarea, table {
  font-family: 'Poppins', sans-serif;
}

html, body { 
  height: 100%; 
}

button {
  cursor: pointer;
}

.container {
  width: 1210px;
  margin: 0 auto;
}

.button{
  border-radius: 4px;
  box-shadow: 0px 9px 20px rgba(58, 182, 125, 0.4);
  border: none;
  color: variables.$white;
  padding: 1rem;
}

.button-green {
  background-color: variables.$green-600;
}

.button-gray {
  background-color: variables.$gray-600;
}
