@use './scss/reset.scss';
@use './scss/variables';


body {
  background-color: variables.$white;
}

body, button, input, textarea, table {
  font-family: 'Poppins', sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
