@use '../../../../../scss/variables';

.main {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url("../../../../../assets/images/background.png");

  .main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  
    .card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      max-width: 500px;
      background-color: white;
      border-radius: 8px;
      box-shadow: 5px 5px 40px rgba(172, 176, 202, 0.6);   
      padding: 2rem;  

      .content {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background-color: white;
        width: 100%;
      
        h1 {
          font-weight: 900;
          font-size: 2.5rem;
          color: variables.$gray-600;
        }

        form {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .form-group-input{
            display: flex;
            flex-direction: column;
            gap: .1rem;

            label {
              color: variables.$gray-600;
            }
    
            input, textarea {
              padding: .25rem ;
              border-radius: 4px;
              border: 1px solid variables.$gray-300;
              outline-color: variables.$gray-600;
              color: variables.$gray-600;

              &:focus, &:hover {
                border-color: variables.$gray-300;
                color: variables.$gray-600;
              }

              &::placeholder {
                color: variables.$gray-300
              }
            }

            textarea {
              resize: vertical;
            }
          }

          .form-group-buttons {
            margin-top: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;

            button {
              text-transform: uppercase;
            }

            .buttonSend {
              flex: 1;
              border-color: variables.$gray-300;
            }
          
            .buttonCancel {
              flex: 1;
            }

          }
        }
      }
    }
  }
}

// Medias Queries

@media only screen and (max-width: 475px) {
  .main-container {
    padding: 0 1rem;
  }
}